/* Overriding default Bootstrap styles */
.custom-navbar {
  background-color: #672280 !important;
}

.custom-navbar a {
  color: #fff !important;
}

.custom-btn {
  background-color: #672280 !important;
  border: none !important;
}